<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method = "post">
        <select name="select" id="">
            <option value="name">Tên học sinh</option>
            <option value="age">Tuổi</option>
            <option value="university">Trường đại học</option>
        </select><br>
        <label for="input">Nhập thông tin tìm kiếm:</label>
        <input type="text" name="input" id="input"> <br>
        <input type="submit" value="OK" name = "searchBtn">
    </form>
    <a href="../index.php">HOMEPAGE</a>

</body>
</html>